#contacts {
    color: black;
    height: 80vh;
}

.side-texts {
    position: absolute;
    left: 28%;
}

.side-texts h1 {
    font-size: 3em;
    margin-top: 1em;
}

.contact-form {
    position: absolute;
    left: 25.5%;
    top: 84%;
}

.contact-form ul li {
    list-style: none;
    margin-bottom: 2em;
}

.contact-form input {
    width: 32em;
    height: 2em;
    padding: 2em;
    border-radius: 1em;
    border: 2px solid black;
}

.contact-form button {
    margin-top: 1em;
    background: none;
    border: 2px solid black;
    height: 4em;
    width: 20em;
    transition: 0.2s all ease-in-out;
}

.contact-form button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1em;
}