@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gugi&family=IM+Fell+Double+Pica+SC&family=Itim&family=JetBrains+Mono:wght@500&family=Josefin+Sans&family=Jura:wght@300&family=Pixelify+Sans&family=Press+Start+2P&family=Tilt+Neon&display=swap');

* {
    font-family: 'Tilt Neon', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.background-image img {
    height: 100vh;
    position: absolute;
    left: 20.4%;
}

.bg-image-cover {
    height: 100vh;
    background: black;
    opacity: 40%;
}

.side-panels {
    position: fixed;
    top: 0%;
    min-width: 18.5em;
    background: #050C16;
    height: 100vh;
}

.side-panels img {
    height: 5em;
    border-radius: 50px;
    margin: 2em 6em;
}

.side-panels p {
    color: white;
    font-size: 20px;
    margin: -1em 4em;
}

.socmeds {
    margin: 2em 4.2em;
}

.socmeds img {
    height: 2em;
    margin: 0 1em;
}

.socmeds a {
    text-decoration: none;
}

.links {
    margin: 0 2em 0 0;
}

.links li {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 3em;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.links a:hover{
    color: #7FBAFF;
}

.aboutme-container .school {
    color: blue;
}
